---
Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,bugprone-*,readability-*,-cppcoreguidelines-avoid-non-const-global-variables'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,bugprone-*,readability-*,-cppcoreguidelines-avoid-non-const-global-variables'
