Language: Cpp
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveBitFields: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
ColumnLimit: 119
IndentWidth: 4
